<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mantenimiento de películas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="mt-3 mb-3">
        <h3>Creacion de Pelicula</h3>
    </div>

    <div class="container">
        <form th:action="@{/maintenance/confirm-create}" method="post">
            <div class="mb-3 row">
                <label for="title" class="col-sm-3">Título</label>
                <div class="col-sm-9">
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="description" class="col-sm-3">Descripción</label>
                <div class="col-sm-9">
                    <input type="text" id="description" name="description" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="releaseYear" class="col-sm-3">Año de filmación</label>
                <div class="col-sm-9">
                    <input type="number" id="releaseYear" name="releaseYear" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="languageId" class="col-sm-3">ID del idioma original</label>
                <div class="col-sm-9">
                    <select id="languageId" name="languageId" class="form-control" required>
                        <option value="">Selecciona una lenguaje</option>
                        <option th:each="language : ${languages}"
                                th:value="${language.languageId}"
                                th:text="${language.name}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="rentalDuration" class="col-sm-3">Tiempo de alquiler (Días)</label>
                <div class="col-sm-9">
                    <input type="number" id="rentalDuration" name="rentalDuration" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="rentalRate" class="col-sm-3">Precio de alquiler (USD)</label>
                <div class="col-sm-9">
                    <input type="number" step="0.01" id="rentalRate" name="rentalRate" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="length" class="col-sm-3">Duración de la película (Minutos)</label>
                <div class="col-sm-9">
                    <input type="number" id="length" name="length" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="replacementCost" class="col-sm-3">Costo de reemplazo (USD)</label>
                <div class="col-sm-9">
                    <input type="number" step="0.01" id="replacementCost" name="replacementCost" class="form-control" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3">Características de la película</label>
                <div class="col-sm-9 ">
                    <div class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="featureTrailers" name="specialFeatures" value="Trailers">
                            <label class="form-check-label" for="featureTrailers">Trailers</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="featureCommentaries" name="specialFeatures" value="Commentaries">
                            <label class="form-check-label" for="featureCommentaries">Commentaries</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="featureDeletedScenes" name="specialFeatures" value="Deleted Scenes">
                            <label class="form-check-label" for="featureDeletedScenes">Deleted Scenes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="featureBehindTheScenes" name="specialFeatures" value="Behind the Scenes">
                            <label class="form-check-label" for="featureBehindTheScenes">Behind the Scenes</label>
                        </div>
                    </div>
                    <small class="form-text text-muted ml-5">
                        Selecciona una o más características para esta película.
                    </small>
                </div>

            </div>




            <div class="mb-3 row">
                <label for="rating" class="col-sm-3">Categoría</label>
                <div class="col-sm-9">
                    <select id="rating" name="rating" class="form-control" required>
                        <option value="">Selecciona una categoría</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                        <option value="NC-17">NC-17</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="btnCreate" class="col-sm-3"></label>
                <div class="col-sm-9">
                    <button class="btn btn-success mr-5" type="submit" id="btnCreate" onclick="return Create()">
                        Agregar
                    </button>
                    <button class="btn btn-primary " type="button" id="btnCancel"
                            onclick="location.href='/maintenance/start'">
                        Cancelar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    function Create() {
        return confirm("¿Estás seguro de que deseas agregar la película?");
    }
</script>

</body>
</html>